header {
    font-family: Montserrat
}

body {
    font-family: Montserrat
}

.redText {
    color: red
}

.header-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.title {
    order: 1
}

.user {
    order: 2
}


.countdown {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}
